body{
    margin: 0px;
    padding: 0px;
    #root{

        .col-1 {
            flex: 1 1 25%;
        }
        .col-2 {
            flex: 2 1 50%;
        }
        .col-3 {
            flex: 32 1 75%;
        }

        ul{
            list-style-type: none;
            li{
                a{
                    text-decoration: none;
                    color: #666;
                }
                a:hover{
                    color: white;
                }
            }
        }

        .container{
            max-width: 1200px;;
        }

        .row{
            display: flex;
            justify-content: space-around
        }

        .carousel-container{
            .react-multi-carousel-list{
                .react-multi-carousel-dot-list {
                    width: fit-content !important;
                    margin: 0px auto !important;
                }
            }
        }

        // header
        header{
            background: linear-gradient(135deg, #ce1013 0, #e82c30 100%);
            font-family: 'Roboto Condensed';
            width: 100%;
            display: flex;
            justify-content: space-around;
            padding-right: 8px;
            box-sizing: border-box;
            min-height: 56px;
            // position: fixed;
            // top: 0px;
            z-index: 1000;
            .logo-section{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                background-color: white;
            }
            .home-search-section{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                input{
                    height: 21px;
                }
            }
            .home-link-section{
                display: flex;
                .home-link-list{
                    display: flex;
                    justify-content: space-around;
                    width: 100%;
                    list-style-type: none;
                    padding: 0px;
                    margin: 0px;
                    .link{
                        color: white;
                        text-decoration: none;
                        align-items: center;
                        display: flex;
                        color: white;
                    }
                    li{
                        color: white;
                        display: flex;
                        align-items: center;
                        .link{
                            color: white;
                            text-decoration: none;
                            align-items: center;
                            display: flex;
                            color: white;
                            height: 100%;
                            padding: 0px 8px;
                        }
                        .link:hover{
                            background: white;
                        }
                    }
                    li:hover{
                        a{
                            color: black;
                        }
                        color: black;
                    }
                }
            }
        }

        h1,h2,h3,h4,h5,h6,p{
            margin: 0px;
            padding: 0px;
        }

        .screen-heading{
            margin: 16px 0px;
        }

        .news-container{
            display: flex;
            flex-direction: column;
            margin: 80px auto 32px;
            max-width: 1000px;
            box-sizing: border-box;
            padding: 24px;
            box-shadow: 0px 4px 18px rgb(0 0 0 / 10%);
            border: 1px solid #D4D9E2;
            .news-heading-section{
                color: #e82c30;
                margin-bottom: 16px;
                display: flex;
                justify-content: space-between;
            }
            .author-date-section{
                margin-bottom: 32px;
                .date{
                    margin: 0px 10%;
                }
            }
        }

        .home-container{
            .banner-section{
                img{
                    background: rgba(0, 0, 0, .1);
                }
            }
            .carousel-section{
                max-width: 1000px;
                margin: 24px auto;
            }
            .developers-section{                
                justify-content: space-between;
                max-width: 1000px;
                margin: 16px auto;
                position: relative;
                .inner{
                    display: flex;
                    justify-content: space-between;
                    margin: 72px auto;
                    .developer{
                        width: 20%;
                        //border: 1px solid gray;
                        padding: 16px;
                        background: #ececec69;
                        position: relative;
                        height: 200px;
                        img{
                            border-radius: 100%;
                            border-radius: 100%;
                            top: -16%;
                            left: 0;
                            right: 0;
                            margin: 0px auto;
                            position: absolute;
                        }
                        p{
                            margin-top: 48px;
                            top: 30%;
                            text-align: center;
                        }
                    }
                }
            }
        }

        .add-news-container{
            max-width: 1000px;
            margin: 0px auto;
            .ck-editor__main{
                //height: 50px;
                .ck-content{
                    min-height: 80px;
                    padding: 16px;
                }
            }
        }

        .favourate-container{
            width: 1000px;
            display: flex;
            margin: 32px auto;
            flex-wrap: wrap;
            justify-content: space-between;
            .fav-container{
                margin-top: 8px;
                min-width: 222px;
                box-sizing: border-box;
            }
        }
        .main-container{
            max-width: 1000px;
            display: flex;
            flex-direction: column;
            margin: 32px auto;
            flex-wrap: wrap;
            justify-content: space-between;
            .inner-container{
                display: flex;
                flex-wrap: wrap;
            }
        }
        .text-button{
            border: none;
            background: none;
            color: red;
            cursor: pointer;
            padding: 0px;
            height: fit-content;
        }
        .list-container{
            max-width: 1000px;
            margin: 0px auto;
            .Horizontal-card-container{
                display: flex;
                justify-content: space-between;
                padding: 32px 16px;
                border: solid 1px #ccc;
                margin: 8px 0px;
                div{
                    align-items: center;
                    display: flex;
                }
                .button-container{
                    display: flex;
                    button{
                        margin: 0px 8px;
                        cursor: pointer;
                    }
                }
            }
        }

        //card
        .card-width{
            min-width: 222px;
            box-sizing: border-box;
        }
        .card-container{
            max-width: 224px;
            border: solid 1px #ccc;
            min-height: 284px;
            flex-wrap: wrap;
            box-sizing: border-box;
            position: relative;
            margin: 8px auto;
            .image{

            }
            .heading{
                display: flex;
                justify-content: space-between;
                font-weight: 500;
                font-size: 15px;
                color: #404040;
                height: 40px;
                overflow: hidden;
                box-sizing: border-box;
                line-height: 20px;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                margin: 0 auto;
                box-sizing: border-box;
                padding: 0px 8px;
            }
            .description{
                color: #666;
                overflow: hidden;
                //height: 60px;
                // -webkit-line-clamp: 3;
                // -webkit-box-orient: vertical;
                // -moz-line-clamp: 4;
                // -moz-box-orient: vertical;
                // text-overflow: ellipsis;
                max-height: 160px;
                margin: 0 auto;
                // display: -webkit-box;
                // display: -moz-box;
                // line-height: 20px;
                padding: 8px;
            }
            .button-section{
                position: absolute;
                bottom: 0px;
                width: 100%;
                button{
                    cursor: pointer;
                }
            }
        }
        .card-container:hover{
            box-shadow: 0 0 5px 2px #ccc;
            border: solid 1px #ff5a00 !important;
        }

        //dropdown
        .dropdown {
            display: inline-block;
            position: relative;
            margin: auto 0px;
            // color: white;
            .link{
                color: white;
                text-decoration: none;
            }
            .dropdown-content {
                position: absolute;
                display: none ;
                right: 0;
                top:12px;
                min-width: 12rem;
                padding: 1rem;
                z-index: 1;
                background-color: #203040;
                margin: 0;
                margin-top: 0.4rem;
                border-radius: 0.5rem;
              }
            
          }
          .dropdown:hover  {
            .dropdown-content{
                display: block;
            }
            
        }

        //button
        .primary{
            width: 100%;
            background: #ce1013;
            opacity: 1;
            color: white;
            border: none;
            height: 32px;
        }
        .primary:hover{
            opacity: 0.9;
        }

        //form
        form{
            .input-block{
                display: flex;
                flex-direction: column;
                margin: 24px 0px;
                label{
                    margin-bottom: 8px;;
                }
                input{
                    padding: 8px;
                    background: none !important;
                    border: 1px solid black;
                }
                select{
                    width: fit-content;
                }
            }
        }


        .heading-section{
            border-bottom: 1px solid gray;
        }

        .signin-container{
            align-items: center;
            display: flex;
            justify-content: center;
            height: 100vh;
            background-image: linear-gradient(#ee9ca7, #ffdde1);
            opacity: 0.8;
            .inner-container{
                max-width: 500px;
                background: white;
                width: 40%;
                padding: 32px;
                box-sizing: border-box;
                a{
                    text-decoration: none;
                    color: #ce1013;;
                }
            }
        }
        footer{
            background: #131A22;
            //color: #DDD;
            display: flex;
            justify-content: center;
            padding: 56px 0px 80px;
            position: relative;
            .footer-block{
                width: 22%;
                padding: 0px 15px;
                box-sizing: border-box;
                .block-heading{
                    font-size: 22px;
                    color: #d3d3d3;
                    margin-bottom: 10px;
                    font-family: 'Bebas Neue';
                    font-weight: 400;
                }
                .link-section{
                    display: flex;
                    flex-direction: column;;
                    a{
                        //color: #DDD;
                        text-decoration: none;
                        font-size: 12px;
                        color: #a5a5a5;
                        margin-bottom: 3px;
                    }    
                }     
                       
            }    
            .border-right{
                border-right: 1px solid #343434;
            }    
            .copy-right{
                background: rgba(0, 0, 0, .95);
                text-align: center;
                z-index: 100;
                padding: 10px 0;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                color: white;
            }
        }
    }
}
